<div id="simple-nav" class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="/" class=""><%= image_tag("logo.png", class: "simple-logo", size: "55x45", :alt => "logo")%></a>
      <ul id="nav-mobile" class="right">
        <li><a href="/groups/sign_in" class="simple-text">Sign In</a></li>
        <li><a href="#" class="simple-text">|</a></li>
        <li><a href="/groups/sign_up" class="simple-text">Sign Up</a></li>
      </ul>
    </div>
  </nav>
</div>
