<div class="white">
  
<% if !current_group %>
<!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
              <h1 class="home" >University Partnership Program</h1>
              <h2 id="main-header" class="home" >Let's Save the Rainforests together.</h2>
              <div class="container">
                <form id="contact" class="col s3" action="https://formspree.io/gomez.r@live.com"
                    method="POST">
                  <input id="subscribe" class="submit-on-enter" type="text" name="subscribe" placeholder="Enter Email to Subscribe.">  
                </form>   
              </div>
              <br>
              <br>
              <br>
              <br>
            </div>          
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <br >
        <br >
        <br >

        <div class="featurette" id="about" style="text-align: center;">            
            <h2 class="display-4">About</h2>
            <br>
            <p class="lead col-md-12 ">The University Partnership program will provide a new way for Rainforest Partnership, students and Universities across the United States to collaborate in an effort to help save the world's rainforests. The goal is to open local organizations across universities to allow students to help spread awareness, organize local events, establish relationships with faculty conducting research and ultimately inform the public of ways in which they can help preserve our worlds rainforests.</p>      
        </div>

    <hr class="featurette-divider">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5 center">
                        <%= image_tag('students.png', size: '250x250', :class => "") %>
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Let's Collaborate</h2>
                        <p>Rainforest Partnership is looking to partner with motivated passionate students and faculty who want to help save the rainforest. You will help spread awareness, host local events and help support your local communities efforts to get involved. </p>
                    </div>
                </div>
            </div>
        </div>

    <hr class="featurette-divider">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-1">
                  <div class="p-5">
                    <h2 class="display-4">Have an Impact</h2>
                    <p>By getting involved you will help support Rainforest Partnership who has been committed to saving the rainforests and it's local communities. Find out more. </p>
                  </div>
                </div>
                <div class="col-md-6 order-2">
                  <div class="p-5 center">
                      <%= image_tag('trees.png', size: '250x250', :class => "") %>
                  </div>
                </div>
            </div>
        </div>

    <hr class="featurette-divider">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                  <div class="p-5 center">
                    <%= image_tag('earth.png', size: '250x250', :class => "") %>
                  </div>
                </div>
                <div class="col-md-6 order-1">
                  <div class="p-5">
                    <h2 class="display-4">Help Stop Climate Change</h2>
                    <p>Climate change is predicted to have a huge impact on our lives and those of billions of people around the world. By helping preserve the world's rainforests you can help reduce the impact of climate change and help save our earth.</p>
                  </div>
                </div>
            </div>
        </div>

      <hr class="featurette-divider">

    <div class="container section scrollspy" id="contactus">
        <div class="section contact_us">
        <h2 class="display-4" style="text-align: center">Contact Us</h2>
        <br>        
          <div class="row">
            <form id="contact" class="col s6" action="https://formspree.io/gomez.r@live.com"
      method="POST">
              <div class="row">
                <div class="input-field col s6">
                  <input type="text" name="_gotcha" style="display:none" />
                  <input id="name" type="text" name="name">
                  <label for="name">Your Name</label>
                </div>
              </div>
             
              <div class="row">
                <div class="input-field col s6">
                  <input id="email" type="email" name="_replyto">
                  <label for="email">Your Email</label>
                </div>
              </div><!--row-->
              
               <div class="row">
                <div class="input-field col s6">
                  <input id="message-sub" type="text" name="_subject">
                  <label for="message-sub">Message Subject</label>
                </div>
              </div>
              
               <div class="row">
                <div class="input-field col s6">
                  <textarea id="text_area" class="materialize-textarea" name="body"></textarea>
                  <label for="text_area">Your Message</label>
                </div>
              </div>
              <input type="submit" value="Send" class="waves-effect waves-light btn green accent-4">              
            </form>               
          </div>
        </div>
    </div>

<hr>
      
    <!-- Footer -->
      <footer>
        <div class="row">
            <div class="col-lg-12">
              <p style="text-align: center;">Copyright &copy; Rainforest Partnership</p>
            </div>
        </div>
      </footer>

    </div>

    <% else %>
      <script type="text/javascript">
        window.location.href="/posts"  // put your correct path in a string here
      </script>
    <% end %>

</div>