
<!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>One Page Wonder</h1>
                <h2>Will Knock Your Socks Off</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <br class="featurette-divider">
<br class="featurette-divider">
<br >
        <!-- First Featurette -->
        <div class="featurette" id="about">
            <%= image_tag('students.png', size: '220x220', :class => "featurette-image img-circle img-responsive pull-right") %>
            
            <h2 class="featurette-heading">We want to partner with you.
                <!-- <span class="text-muted">Will Catch Your Eye</span> -->
            </h2>
            <br>
            <p class="lead">Rainforest Partnership is looking to partner with motivated passionate students and faculty who want to help save the rainforest. You will help spread awareness, host local events and help support your local communities efforts to get involved. </p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <%= image_tag('trees.png', size: '220x220', :class => "featurette-image img-circle img-responsive pull-left") %>
            <h2 class="featurette-heading">Help save the Rainforest.
                <!-- <span class="text-muted">Is Pretty Cool Too.</span> -->
            </h2>
            <br>
            <p class="lead">By getting involved you will help support Rainforest Partnership who has been committed to saving the rainforests and it's local communities. Find out more.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <%= image_tag('earth.png', size: '220x220', :class => "featurette-image img-circle img-responsive pull-right") %>
            <h2 class="featurette-heading">
                <span class="text-muted">Help stop Climate Change.</span>
            </h2>
            <br>
            <p class="lead">Climate change is predicted to have a huge impact on our lives and those of billions of people around the world. By helping preserve the world's rainforests you can help reduce the impact of climate change and help save our earth.</p>
        </div>

        <hr class="featurette-divider">

    <div class="container section scrollspy" id="contactus">
        <div class="section contact_us">
          <br>
        <br>
        <h2>Contact Us</h2> 
        
          <div class="row">
              
            <form class="col s6">
              <div class="row">
                <div class="input-field col s6">
                  <input id="name" type="text" class="validate">
                  <label for="name">Your Name</label>
                </div>
                </div>
             
              <div class="row">
                <div class="input-field col s6">
                  <input id="email" type="email" class="validate">
                  <label for="email">Your Email</label>
                </div>
              </div><!--row-->
              
               <div class="row">
                <div class="input-field col s6">
                  <input id="message-sub" type="email" class="validate">
                  <label for="message-sub">Message Subject</label>
                </div>
              </div>
              
               <div class="row">
                <div class="input-field col s6">
                   <textarea id="text_area" class="materialize-textarea"></textarea>
                  <label for="text_area">Your Message</label>
                </div>
              </div>
              
                <div>
                  <a class="waves-effect waves-light btn green lighten-1">Send Message</a>
                </div>
               </form>               
          </div>
        </div>
    </div>

<hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rainforest Partnership Programm</p>
                </div>
            </div>
        </footer>

    </div>
