<!-- Error Messages -->
<% if cause.errors.any? %>
  <div id="error_explanation" class="col-md-8">
    <i class="material-icons md-24 error-icon right">close</i>
    <h3><%= pluralize(cause.errors.count, "error") %> prohibited this article from being saved:</h3>
    <hr style="color: #555;">
    <ul>
    <% cause.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
