<div class="continer">
<br>
<br>
<br>
  <% if @post %>
    <%= form_for(@post) do |p| %>
      <p>
        <%= p.label :body %>
        <%= p.text_area :body %>  
      </p>
      <p>
        <%= p.submit %>  
      </p>
    <% end %>
  <% else %>
    <p> Currently there are no posts. </p> 
  <% end %> 
</div>
