<div class="container col-md-6">
  <%= form_for(@post, :id => "formValidate", :class => "formValidate") do |p| %>
      <div class="row">
        <div class="form-inputs input-field col s6">          
          <label data-error="wrong" data-success="right">Body</label>
          <%= p.text_field :body, :type => "text", :class => "validate" %>
        </div>
      </div>
      <p>
        <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">
          <%= p.submit "Save" %>  
        </button>          
      </p>
  <% end %>  
</div>
