<div class="container">
<br>
<br>
<br>
<br>
  <%= form_for(@post) do |p| %>
      <div class="row">
        <div class="input-field col s6">
          <%= p.label :body %>
          <%= p.text_field :body %>
        </div>
      </div>
      <p>
        <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">
          <%= p.submit "Save" %>  
        </button>          
      </p>
  <% end %>  
</div>