/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
*= require pickadate/classic
*= require pickadate/classic.date
*= require pickadate/classic.time
*= require_tree
 */
@import "materialize";


body, h1, h2, h3, h4, h5 {
  color: #555 !important;
  font-family: 'Quicksand', sans-serif !important;
}

body {
  height: 100vh !important;
  background-color: #f5f5f5 !important;
}

h3 > a {
  text-decoration: none;
  color: #555;
  font-weight: bolder !important;
}

h3 > a:hover {
  color: #00897b !important;
  font-weight: bolder !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

span > a {
 text-decoration: none !important;
 color: #555;
}

span > a:hover {
 text-decoration: none !important;
 color: #00897b !important;
}

 .page-spacing {
  padding: 2%;
  margin: auto;
 }

 .navbar {
  position: absolute;
  height: 86px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  width: 100%;
 }

 .navbar-nav {
  width: 100%;
 }

 .landing-navbar-nav {
  margin-left: 85%;
 }

a.navbar-brand > img {
  vertical-align: text-bottom;
  margin-left: 10px;
}

 a.nav-link {
  text-decoration: none;
  color: #01579b;
  padding-left: 0 !important;
}

li.nav-item {
  margin: auto;
}

li.landing-page {
 margin-left: 10px; 
}

.grid {
  text-decoration: none !important;
}

.nav-icons {
  color: #0277bd;
}

/*Google Iconcs*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.pink200 { color: #FF4081; }

.nav-header {
  position: absolute;
}

.search-bar {
  margin: auto;
  position: relative;
  padding: 0 30px;
  width: 100%;
  margin-top: 15px;
  margin-left: 130px;
}

.search-bar input {
  text-align: center;
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-radius: 2px;
  padding: 2px;
  border-style: none !important;
  box-shadow: 0px 0px 2px 2px #eff2f3;
  background-color: white;
}

.result-title {
  text-align: center;
}

.log_options {
  float: right;
}

.comment-title {
  text-align: center;
}

.header {
  text-align: center !important;
  padding: 20px;
  margin-top: 70px;
}

#login-header {
  margin: 35px 0px;
}

.container-content {
  /*margin: 5%;*/
  margin-top: 0;
  background-color: #f5f5f5;
  padding-right: 31px;
}

/*date and time picker */
div.picker__holder {
  min-height: 100%;
  min-width: 100%;
}


@media screen and (min-width: 992px) {
    .logo {
        margin-top: 3px;
    }
}

@media screen and (max-width: 991px) {
    .logo {
        margin-top: -78px;
        margin-left: 65px;
    }
}

.nav-link > a:hover {
  background-color: none !important;
}