/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
*= require_tree
 */

body, h1, h2, h3, h4, h5 {
  color: #555 !important;
  font-family: 'Quicksand', sans-serif !important;
}

 .page-spacing {
  padding: 2%;
  margin: auto;
 }

 .navbar {
  position: absolute;
  height: 70px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  width: 100%;
 }

 .navbar-nav {
  width: 100%;
 }

a.navbar-brand > img {
  vertical-align: text-bottom;
}

/* a.nav-link {
  text-decoration: none;
  color: #757575;
  margin-top: 19px;
  padding-left: 0 !important;
}*/

li.nav-item {
  margin: auto;
  /*margin-top: 15px;*/
}

.grid {
  /*padding-left: 0 !important;*/
  text-decoration: none !important;
}

.nav-icons {
  color: #0d723b;
}

/*Google Iconcs*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.pink200 { color: #FF4081; }

.nav-header {
  position: absolute;
}

.search-bar {
  margin: auto;
  position: relative;
  padding: 0 0 0 142px;
  width: 80%;
  margin-top: 15px;
}

.search-bar input {
  text-align: center;
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-radius: 2px;
  padding: 2px;
  border-style: none;
  box-shadow: 0px 0px 2px 2px #eff2f3;
  background-color: white;
}

.log_options {
  float: right;
}

.comment-title {
  text-align: center;
}