.btn-icon {
 margin-top: -2px; 
}

#signup-btn {
  margin-left: 5px;
}

button.btn {
  line-height: 1.25rem !important;
}

#social:hover {
  color: white !important;
}

i.material-icons.left {
  line-height: 1.5rem;
  line-height: 18px;
}