.card-title, .card-text {
  margin: auto;
  text-align: left;
  width: 100%;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 15px;
}

div.card {
  margin-top: 0;
  margin-bottom: 0;
  width: 288px;
  min-width: 288px;
  min-height: 268px;
}

.card .card-content {
  border-top: 1px solid #eee;
}

.card.groups {
  margin: auto;
  margin-bottom: 30px !important;
}

.show {
  margin: auto !important;
}

div.card-image.waves-effect.waves-block.waves-light {
  min-height: 254px;
  min-width: 100%;

}

#group-text {
  font-size: 16px;
}


@media screen and (min-width: 846px) {
  .card .groups {
    height: 288px ;
    width: 268px ;
    margin: auto ;
  }


}
