/*.card-title, .card-text {
  margin: auto;
  text-align: left;
  width: 100%;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 17px;
}*/

.card {
  height: 350px;
  margin: 0px !important;
  /*margin-bottom: 30px;*/
  /*background-position: center;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
}

.card .card-content {
  border-top: 1px solid #eee;
}

.card.groups {
  margin: 0px 0px 30px !important;
}

.show {
  margin: auto !important;
}