p#mine {
  padding: 5px;
  text-align: left;
}

p#other {
  color: white !important;
  border-style: 1px solid #00e676;
  background-color: #00e676; 
  padding: 5px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: right;
}

.chat-text {
  font-size: 16px;
}