.form_design {
  margin: auto;
}

.container.form-style {
  margin-left: 25%; 
  width: 50%;
}

div.col.s12.m12.login-btn {
  margin-left: 52px;
}

.form-inputs.input-field.col.s12.m12 {
  padding-right: 54px;
}

#sign-up-form {
  padding: 30px;
  margin-left: 10px;
}

#confirm-changes {
  padding-top: 10px;
  padding-bottom: 40px;
}