div#simple-nav.navbar-fixed {
  z-index: 1000;
}

 .navbar {
  position: absolute;
  height: 86px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  width: 100%;
 }

 .navbar-nav {
  width: 100%;
 }

 .landing-navbar-nav {
  margin-left: 85%;
 }

a.navbar-brand > img {
  vertical-align: text-bottom;
  margin-left: 10px;
  position: fixed;
}

 a.nav-link {
  text-decoration: none;
  color: #01579b;
  padding-left: 0 !important;
  font-size: 18px;
}

li.nav-item {
  margin: auto;
}

li.landing-page {
 margin-left: 10px; 
}

.grid {
  text-decoration: none !important;
}

.nav-icons {
  color: #0277bd;
}

.nav-header {
  position: absolute;
}

.search-bar {
  margin: auto;
  position: relative;
  text-align: center;
  margin-left: -115px;
}

.search-bar input {
  text-align: center;
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-radius: 2px;
  padding: 2px;
  border-style: none !important;
  box-shadow: 0px 0px 2px 2px #eff2f3;
  background-color: white;
}

#search {
  padding-top: 9px;
}

.nav-link > a:hover {
  background-color: none !important;
}

i.blue-text > span#session {
  padding-top: 5px;
  font-size: 12px !important;
}

a > li.nav-item:hover {
  background-color: none !important;
}

div.collapse.navbar-collapse {
  margin-left: auto;
}

#app {
  width: initial;
}

#home {
  width: 100%;
}

.simple-logo {
  margin-left: 10px;
  padding: 2px;
}

.simple-text {
  color: #555;
}

.avatar {
  height: 50px;
  border-radius: 10%;
  margin-bottom: 14px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

#sub-nav {
  margin: 0 0 0 86px;
}


