// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  transition: box-shadow 0.9s ease;
  padding: 20px !important;
  margin: 2% auto;
  margin-top: 0;
  margin-bottom: 0;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  width: 50%;
  text-decoration: none !important;
  background-color: white;
  min-width: 403px;
}

.posts img {
  width: 100%;
}

.home-feed {
  padding: 5%;
  padding-top: 5px;
}

.feed {
  margin: auto;
}

#side-feed {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
}

#feed-header, #side-feed-header {
  text-align: center;
  font-weight: bolder;
  margin-top: 20px;
}

ul.collection.with-header {
  margin: 0;
}

.thumb {
  padding: 5px !important;
}

.post-text, .post-title {
  padding: 15px 0px;
  text-align: left;
}

i.material-icons.edit-icon {
  display: none;
  float: right; 
  color: #757575;
  width: 30px;
}

  i.delete-icon:hover {
    color: red !important;
  }

#effects:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 3px 7px 7px, rgba(0, 0, 0, 0.12) 10px 10px 10px;
  /*background-color: #e0f2f1;*/
  background-color: #e1f5fe;

  i.material-icons.edit-icon {
    display: inline;
    float: right;
    color: #0091ea;
  }

  a.highlight, span.highlight, p.highlight, h3.highlight {
    color: #0091ea !important;
  } 

}

#new-post {
  border-style: none;
  color: #0091ea;
}

#img-post.row {
  margin: 0;
}

#div#img-post.row {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

#img-in-post {
  padding: 0;
  width: 50px;
}

#text-post {
  margin-right: auto;
  padding-left: 10px;
}

#social {
  margin-left: auto;
  min-width: 60px;
}

.social-btn {
  margin-right: 7px;
}

